// font
$font-style: 'Muli', sans-serif;
$font-extraLarge: 50px;
$font-large: 25px;
$font-medium: 18px;
$font-small: 12px;

// text color
$shade-heading: #000;
$shade-details: #4D4E4F;
$shade-light: #FEFFFF;
$shade-placeholder: #C3C4C5;